.my-profile-page {
  margin: 15px 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.my-profile-page > h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}
.my-profile-page .user-container {
  width: 70vw;
}
.my-profile-page .user-info-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(250, 249, 249);
  border-radius: 1%;
}
.my-profile-page .user-info-1 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.my-profile-page .description {
  border: lightgray solid 2px;
  box-sizing: border-box;
  margin: 20px 0px;
  padding: 10px;
  border: 5%;
  color: lightgray;
}
.my-profile-page .user-info-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(250, 249, 249);
  border-radius: 1%;
  margin-bottom: 20px;
}
.my-profile-page .user-info-2 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.my-profile-page .user-basic-button {
  display: flex;
  justify-content: flex-end;
}
.my-profile-page .user-basic-button button {
  background-color: white;
  outline: none;
  border: skyblue 1px solid;
  color: skyblue;
  border-radius: 5%;
  box-sizing: border-box;
  padding: 5px 10px;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.my-profile-page .user-basic-button button:hover {
  color: aliceblue;
  background-color: skyblue;
}
/* .my-profile-page .about-container {
  border: 1px solid black;
} */
.my-profile-page .link-update-container {
  /* border: red 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
  box-sizing: border-box;
  padding: 10px 0px;
}
.my-profile-page .link-update-container input[type="text"] {
  border: 1px solid gray;
  margin: 5px 0px;
  width: 75%;
  outline: none;
}
.my-profile-page .link-update-container .about-link-update {
  margin: 10px 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.my-profile-page .link-update-container .link-update-picture {
  display: flex;
  width: 100%;
  /* border: 1px solid green; */
  align-items: center;
  justify-content: space-around;
}
.my-profile-page .link-update-container .link-update-picture img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}
.my-profile-page .select-picture {
  background-color: white;
  outline: none;
  border: orange 1px solid;
  color: orange;
  border-radius: 5%;
  box-sizing: border-box;
  padding: 5px 10px;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.my-profile-page .select-picture:hover {
  color: aliceblue;
  background-color: orange;
}
.my-profile-page .link-update-container .links-container {
  border: 1px solid gray;
  border-right: none;
  border-left: none;
  border-radius: 25%;
  width: 50%;
}
.my-profile-page .add-link {
  background-color: white;
  outline: none;
  border: skyblue 1px solid;
  color: skyblue;
  border-radius: 5%;
  box-sizing: border-box;
  padding: 5px 10px;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin: 10px 0px;
}
.my-profile-page .add-link:hover {
  color: aliceblue;
  background-color: skyblue;
}
.my-profile-page .links > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-profile-page .links-container {
  margin: 5px 0px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5%;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
.my-profile-page .link {
  margin-right: 5px;
}
.my-profile-page .link img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.my-profile-page .series {
  margin-top: 30px;
}
.my-profile-page .series > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.my-profile-page .movies > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.my-profile-page .musics > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.my-profile-page .mangas > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
/* .my-profile-page .pictures-section {
} */
.my-profile-page .picture-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-profile-page .picture-toogle-on {
  text-align: center;
}
.my-profile-page .add-picture {
  background-color: white;
  outline: none;
  border: black 1px solid;
  color: black;
  border-radius: 5%;
  box-sizing: border-box;
  padding: 5px 10px;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.my-profile-page .add-picture:hover {
  color: blanchedalmond;
  background-color: black;
}

.my-profile-page .pictures-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 30px 0px;
}
.my-profile-page .picture {
  position: relative;
}
.my-profile-page .picture:hover span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-profile-page .picture img {
  width: 250px;
  height: 300px;
  object-fit: cover;
}
.my-profile-page .picture > span {
  position: absolute;
  font-size: 20px;
  height: 30px;
  width: 30px;
  top: 0;
  right: 0px;
  color: black;
  background-color: white;
  border-radius: 0px 0px 0px 50%;
  cursor: pointer;
  display: none;
}
.my-profile-page .picture > span:hover {
  color: blanchedalmond;
  background-color: black;
}
