.friend-page {
  /* background-color: aquamarine; */
  margin: 15px 15%;
  /* border: black solid 1px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.friend-page > h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}
