.home-page {
  /* background-color: aquamarine; */
  margin: 15px 15%;
  /* border: black solid 1px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.home-page > h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}
.home-page .map-container {
  display: flex;
  justify-content: center;
}
.home-page .map {
  height: 400px;
  width: 70vw;
}
.home-page .isUser-marker {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: orange;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  /* opacity: 0.5; */
}
.home-page .marker img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
