.home-page {
  margin: 15px 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.home-page > h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}
.home-page .map-container {
  display: flex;
  justify-content: center;
}
.home-page .map {
  height: 400px;
  width: 70vw;
}
.home-page .isUser-marker {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: orange;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  /* opacity: 0.5; */
}
.home-page .marker img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.home-page .caroussel-container {
  display: flex;
  border: 1px solid gray;
  margin-top: 20px;
  padding: 10px 10px;
  box-sizing: border-box;
  overflow: hidden;
  overflow-x: scroll;
}
.home-page .caroussel-container > div {
  margin-right: 10px;
}
.home-page .caroussel-container > div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}
